/* 滑块 */
@import '../common/var';
@import '../mixins/mixins';

@include b(slider) {
	position: absolute;
	background-color: #4fca9b;
	overflow: hidden;
	border: 1px solid #c0c0c0;
	border-radius: 4px;
	font-size: 32rpx;
	height: $--slider-height;
	line-height: $--slider-height;
	width: 100%;
	@include e(content) {
		overflow: hidden;
		z-index: 45;
		height: 90rpx;
		width: 80rpx;
		background-color: transparent;
		@include e(movable) {
			height: $--slider-height;
			line-height: $--slider-height;
			position: absolute;
			left: 0;
			top: 0;
			color: #787878;
			// border-right: 1px solid #cccccc;
			line-height: 50rpx;
			background-color: $--color-white;
			text-align: center;
			width: 80rpx;
		}
	}
	
	@include e(front){
		padding-top: 1px;
		height: 100%;
		position: absolute;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		opacity: 0.8;
	}
	@include e(background) {
		opacity: 0.8;
		padding-top: 1px;
		@include e(text) {
			height: $--slider-height;
			line-height: $--slider-height;
			text-align: center;
			font-size: 25rpx;
		}
	}
}